<html>

<head>
    <h1> This is the landing page.</h1>
</head>

<body>
    <p>
        It is a dynmaic EJS file.
        <button onclick="window.location.href='/home'">Return to Home.</button>
    </p>
</body>

</html>