<!DOCTYPE>
<html>

<head>
    <h1> This is a protected profile page.</h1>
</head>

<body>
    <p>
        It requires the user to be signed in to see
    </p>
    <div class="alert alert-danger"><%= message %></div>

    <input type="button" onClick="location.href='http://localhost:80/home';" value="Go to home" </input> </body> </html>