<html>

<head>
    <!-- ADD BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- See here: https://getbootstrap.com/docs/4.2/getting-started/introduction/  -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">
            Welcome <b class="Dynamic"><%= data.name %></b></span>
        <h4>
            Private profile page: Only available to signed-in users
        </h4>
    </nav>


    <div id="ProfilePictureSection">
        <img id="ProfilePicture" src="<%=data.profile_picture%>" />
        <button class="btn btn-light ProfilePicture" id="HomeButton" onClick=location.href='http://localhost:80/home'>Go
            to home</button>
    </div>


    <h2>user ID: <b class=" Dynamic"><%= data.user_id %></b>
    </h2>




    <div id="YouTubeForm">
        <label>Youtube Link</label>
        <input type="text" name="YouTubeLink" placeholder="YouTube embed link">
        </br>
        <div>
            <button id="VideoButton" onclick="NewVideo()">Submit</button>
            See <a href=" https://www.youtube.com/watch?v=kiyi-C7NQrQ" target="_blank">embed link</a>
        </div>
    </div>


    <div id=VideoSection></div>






    <footer>
        <p>Image: Late afternoon in Paris | Taken by <a href="https://mckiersey.medium.com/" target="_blank">Seán
                McKiernan</a></p>
    </footer>
    <style>
        input[readonly] {
            background-color: lightgray;
        }

        p,
        h2,
        h4 {
            margin: 10px;
        }

        .navbar-brand {
            font-size: 50px;
        }

        .Dynamic {
            color: 0077b6;
        }

        body {
            background-image: url('https://miro.medium.com/max/1620/1*FdGgTAPo4BmTL1qK5A-d5Q.jpeg');
            background-repeat: no-repeat;
            background-size: cover;


        }


        #ProfilePictureSection {
            position: relative;
        }

        #ProfilePicture {
            position: absolute;
            top: 0px;
            right: 60px;
            margin: 10px;
            border-radius: 8px;
            border: 5px solid #ddd;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 10%;
        }

        #HomeButton {
            margin-top: 80px;
            border: 0px solid #ddd;
            position: absolute;
            top: 140px;
            right: 90px;

        }

        #YouTubeForm {
            margin-top: 220px;
            margin-left: 50px;

        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem;
            margin-bottom: 10px;
            color: white;
        }

        a {
            color: white;
        }

        #VideoSection {
            margin: 15px;
        }
    </style>
</body>

<script>
    //GET PAGE USER ID
    var urlParams = new URLSearchParams(window.location.search);
    var user_id = urlParams.get('user_id');

    // GET COOKIE FUNCTION
    function getCookieValue(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function NewVideo() {
        var CookieToken = getCookieValue('USER_SESSION_TOKEN')
        link = document.getElementsByTagName("input")[0].value;
        console.log('User id cookie retrieved: ', user_id, 'with video: ', link)
        try { // CLOSE THIS CLAUSE
            $.post('http://localhost:80/NewVideo', {
                token: CookieToken,
                ProfileId: user_id,
                VideoLink: link

            }).done(function (data) {
                console.log('Server response :', data)
                if (data == 'New Video Saved') {
                    window.location.href = window.location
                        .href // refresh page after successfully saving a new video
                } else {
                    alert('Video not saved, please try again', data)
                }
            });
        } catch (err) {
            console.log('failed to post to backend')
            response.send('Error: ' + err)

        }
    }



    // GET VIDEO
    var GetVideoUrl = 'http://localhost:80/Video?user_id=' + user_id
    $.get(GetVideoUrl, function (data, status) {
        document.getElementById('VideoSection').innerHTML += `${data}`
    });
</script>



</html>