<html>

<head>
    <h1> This is a protected profile page.</h1>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body>
    <p>
        It requires the user to be signed in to see
    </p>
    <!-- <div class="alert alert-danger"><%= data.name %></div> -->
    <div class="alert alert-danger"><%= data.name %></div>
    <div class="alert alert-danger"><%= data.user_id %></div>
    <img src="<%= data.profile_picture  %>" />


    <input type="button" onClick="location.href='http://localhost:80/home';" value="Go to home">
</body>

<script>
    // GET COOKIE FUNCTION
    function getCookieValue(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>

</html>